params {
    reads = "data/*{1,2}.fastq.gz"
    outdir = "./results"
    single_end = false
    interleaved = false
    min_read_len = 50


    // skip bbduk steps
    skip_adapter_trimming = false
    skip_contaminant_filtering = false
    skip_quality_trimming = false

    megahit_only = false
}    

cleanup = false
docker.enabled = true
docker.runOptions = '-u \$(id -u):\$(id -g)'